# Bun
node_modules
*.bun
bun.lockb

# Turbo
.turbo

# Build outputs
dist
build
.next
.expo
.output

# OS specific
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Env files
.env
.env.*
!.env.example

# IDE specific
.vscode
.idea